body {
  background-color: green;
  text-align: center;
}

button {
  border: none;
  border-radius: 10px;
  color: white;
  margin-bottom: 50px;
  padding: 15px;
}
button.draw {
  background-color: darkslategrey;
}
button.shuffle {
  background-color: blue;
}

.Cards {
  position: absolute;
  left: calc(50% - 113px);
}
