body {
	background-color: #408928;
}

div {
	text-align: center;
}

#card-btn {
	background-color: #4d4d4d;
	border: none;
	border-radius: 8px;
	color: white;
	font-weight: bold;
	padding: 10px;
	text-transform: uppercase;
}

#card-display {
	margin-top: 50px;
}
#card-display > img {
	position: absolute;
}